@{
    Layout = "~/_LayoutMain.cshtml";
}

@section style
{
    <link href="~/Content/app/admin.css" rel="stylesheet" />
}

<div class="container-fliud">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4 text-center">
            <h2>网站建设中</h2>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>
